/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
  /* colors */

  /* Colors as per figma design file */
  --clr-denim: hsl(213, 96%, 18%);
  --clr-purplish-blue: hsl(243, 100%, 62%);
  --clr-light-blue: hsl(228, 100%, 84%);
  --clr-sky-blue: hsl(206, 94%, 87%);
  --clr-red-errors: hsl(354, 84%, 57%);

  --clr-grey: hsl(231, 11%, 63%);
  --clr-light-grey: hsl(229, 24%, 87%);
  --clr-very-light-grey: hsl(231, 100%, 99%);
  --clr-bg: hsl(218, 100%, 97%);
  --clr-border-color: hsl(231, 23%, 87%);
  --clr-white: hsl(0, 0%, 100%);

  /* Colors as per style-guide.md */

  /* --clr-marine-blue: hsl(213, 96%, 18%); denim */
  /* --clr-purplish-blue: hsl(243, 100%, 62%); purple */
  /* --clr-pastel-blue: hsl(228, 100%, 84%); light blue */
  /* --clr-light-blue: hsl(206, 94%, 87%); sky-blue */
  /* --clr-strawberry-red: hsl(354, 84%, 57%); red-errors*/

  /* --clr-cool-gray: hsl(231, 11%, 63%); grey */
  /* --clr-light-gray: hsl(229, 24%, 87%); */
  /* --clr-magnolia: hsl(217, 100%, 97%); bg*/
  /* --clr-alabaster: hsl(231, 100%, 99%); very-light-grey*/
  /* -clr-white: hsl(0, 0%, 100%); */
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* set up the body */
body {
  background-color: var(--clr-bg);
  color: var(--clr-denim);
  min-height: 100vh;

  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0px;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
  cursor: pointer;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* Typography          */
/* ------------------- */

.heading,
h2 {
  font-weight: 700;
  font-size: 2rem;
  line-height: normal;
}

.body-l,
.description,
.thank-you p {
  font-size: 1rem;
  line-height: 1.5;
}

.body-m,
.personal-info label,
.price {
  font-size: 0.875rem;
  line-height: normal;
}

.body-s,
.promo {
  font-size: 0.75rem;
  line-height: normal;
}

/* ------------------- */
/* General classes     */
/* ------------------- */

.error {
  color: var(--clr-red-errors);
  font-weight: 700;
  font-size: 0.875rem;
}

.error-border {
  border-color: var(--clr-red-errors);
}

.hidden {
  display: none;
}

/* --------------------------------------- */
/* Main Layout and general styling         */
/* --------------------------------------- */

#form-sidebar {
  background-image: url('src/assets/images/bg-sidebar-mobile.svg');
  background-repeat: no-repeat;
  background-size: 100%;
}

form,
.confirm {
  margin: auto;
}

.step-num {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  border: 1px solid var(--clr-white);
  color: var(--clr-white);
  font-weight: 700;
  font-size: 0.875;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active-step {
  background-color: var(--clr-sky-blue);
  border-color: var(--clr-sky-blue);
  color: var(--clr-denim);
}

.nav-buttons-container {
  display: flex;
  justify-content: space-between;
}

.nav-buttons {
  width: 123px;
  height: 48px;
  border-radius: 8px;
}

.back {
  color: var(--clr-grey);
}

.next {
  background-color: var(--clr-denim);
  color: var(--clr-white);
}

.container {
  margin: auto;
  background-color: var(--clr-bg);
}

.form-container {
  max-width: 450px;
  margin-inline: 16px;
  background-color: var(--clr-white);
  padding: 32px 24px;
  border-radius: 10px;
  margin-bottom: auto;
}

.description {
  color: var(--clr-grey);
  margin-top: 9px;
  margin-bottom: 22px;
}

@media (min-width: 768px) {
  .container {
    max-width: 940px;
    height: 600px;
    border-radius: 15px;
    background-color: var(--clr-white);
    display: flex;
    padding: 16px;
  }

  #form-sidebar {
    background-image: url('src/assets/images/bg-sidebar-desktop.svg');
    background-size: auto 100%;
    width: 274px;
  }

  .form-sidebar-details {
    display: flex;
  }

  #form {
    height: 512px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .form-container {
    padding: 0px;
  }

  .description {
    margin-top: 11px;
    margin-bottom: 40px;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 940px;
  }

  .form-container {
    width: 450px;
  }
}

/* ------------------- */
/* User Info           */
/* ------------------- */

.personal-info {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
}

.personal-info input {
  width: 100%;
  border-radius: 8px;
  font-weight: 500;
  border: 1px solid var(--clr-border-color);
  height: 40px;
  padding-inline: 16px;
}

@media (min-width: 768px) {
  .personal-info {
    gap: 24px;
  }

  .label {
    margin-bottom: 8px;
  }

  .personal-info input {
    height: 48px;
  }
}

/* ------------------- */
/* Select Plan         */
/* ------------------- */

.plan-cards {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.plan-card {
  border-radius: 8px;
  border: 1px solid var(--clr-border-color);
  padding: 14px 16px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.plan-card img {
  max-height: 40px;
}

.plan-card .content {
  margin-left: 14px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.option {
  font-weight: 500;
  font-size: 1rem;
}

.price {
  color: var(--clr-grey);
}

input[type='radio'] {
  display: none;
  margin: 0px;
}

.plan-card:has(input[type='radio']:checked) {
  border-color: var(--clr-purplish-blue);
  background-color: var(--clr-very-light-grey);
}

@media (min-width: 768px) {
  .plan-cards {
    flex-direction: row;
    gap: 18px;
  }

  .plan-card {
    border-radius: 8px;
    border: 1px solid var(--clr-border-color);
    padding: 20px 16px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-grow: 1;
    flex-basis: 0;
    max-width: calc(100% / 3);
  }

  .plan-card .content {
    margin-top: auto;
    margin-left: 0px;
  }
}

/* ------------------ */
/* Billing Switch     */
/* ------------------ */

.toggle-div {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--clr-very-light-grey);
  margin-top: 24px;
  padding: 15px;
  border-radius: 8px;
}

#monthly-switch {
  margin-right: 24px;
  color: var(--clr-denim);
  font-size: 0.875rem;
  font-weight: 500;
}

#yearly-switch {
  margin-left: 24px;
  color: var(--clr-grey);
  font-size: 0.875rem;
  font-weight: 500;
}

#switch {
  height: 0;
  width: 0;
  visibility: hidden;
  margin: 0px;
}

#label-checkbox-billing {
  cursor: pointer;
  text-indent: -9999px;
  width: 38px;
  height: 20px;
  background: var(--clr-denim);
  display: block;
  border-radius: 10px;
  position: relative;
}

#label-checkbox-billing:after {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: var(--clr-white);
  border-radius: 50%;
  transition: 0.3s;
}

input:checked + #label-checkbox-billing:after {
  left: calc(100% - 4px);
  transform: translateX(-100%);
}

/* ------------------ */
/* Add Ons            */
/* ------------------ */

.add-ons-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.add-on {
  border: 1px solid var(--clr-border-color);
  border-radius: 8px;
  display: flex;
  padding-inline: 24px;
  padding-block: 18px;
  align-items: center;
}

.add-on:has(input[type='checkbox']:checked) {
  background-color: var(--clr-very-light-grey);
  border: 1px solid var(--clr-purplish-blue);
}

.add-on input {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  accent-color: var(--clr-purplish-blue);
  margin: 0px 24px 0px 0px;
}

.addOn-item {
  font-weight: 500;
  font-size: 1rem;
}

.addOn-desc {
  font-size: 0.875rem;
  line-height: 1.25;
  color: var(--clr-grey);
}

.addOn-price {
  font-size: 0.875rem;
  line-height: 1.25;
  color: var(--clr-purplish-blue);
  margin-left: auto;
}

/* ------------------ */
/* Summary            */
/* ------------------ */

.confirm-plan,
.confirm-addOn,
.total-container {
  display: flex;
  justify-content: space-between;
  padding-inline: 24px;
}

.confirm-plan,
.confirm-addOn-container {
  background-color: var(--clr-very-light-grey);
}

.confirm-plan {
  padding-block: 20px;
}

.confirm-plan-type,
.confirm-plan-price {
  font-weight: 500;
}

.confirm-addOn {
  text-decoration: none;
}

.confirm-addOn > p:first-child,
.total {
  font-size: 0.875;
  color: var(--clr-grey);
}

.confirm-addOn-container {
  padding: 16px 0;
  margin: 0 0 16px 0;
}

.total-price {
  font-weight: 700;
  font-size: 1.25;
  color: var(--clr-purplish-blue);
}

/* ------------------ */
/* Confirmation       */
/* ------------------ */

.thank-you {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.thank-you img {
  width: 56px;
  height: 56px;
  margin-bottom: 24px;
}

.thank-you h2 {
  margin-bottom: 9px;
}

@media (min-width: 768px) {
  .thank-you img {
    width: 80px;
    height: 80px;
    margin-bottom: 32px;
  }

  .thank-you h2 {
    margin-bottom: 14px;
  }

  .thank-you p {
    color: var(--clr-grey);
    text-align: center;
  }
}
